@attribute [Route(JORoutes.Candidate.Details + "/{transactionId:int}")]
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        <i class="fas fa-user-tie text-primary"></i> Candidate Transaction Details
    </h1>
</div>

<TransactionHeader TransactionId="@transactionId" />

<ListSubmittedFiles TransactionId="@transactionId" />

@code {
    [Parameter] public int transactionId { get; set; }
}
