@inject NavigationManager Navigation
@inject IAlertService AlertService
@inject IDropDownListService DropDownListService
@inject ITAService TAService
@inject IAccountService AccountService

@attribute [Authorize(Roles = JOUserRole.TA)]
@attribute [Route(JORoutes.TA.Accept + "/{jobOfferId:int}/{candidateId:int}")]

<CandidateInfo CandidateId="@candidateId" />

<JobOfferView JobOfferId="@jobOfferId" />

<div class="d-flex justify-content-end border-top pt-3 mb-4">
    <button class="btn btn-outline-secondary btn-sm mr-2"
            @onclick="HandleCancel">
        Cancel
    </button>

    <button class="btn btn-primary btn-sm shadow-sm mr-2"
            @onclick="() => HandleAccept()">
        <i class="fas fa-handshake fa-sm text-white-50 mr-1"></i>
        Accept
    </button>

    <button class="btn btn-danger btn-sm shadow-sm"
            @onclick="() => HandleDecline()">
        <i class="fas fa-times-circle fa-sm text-white-50 mr-1"></i>
        Decline
    </button>
</div>

<Modal @ref="modalDecline" Title="Reason">
    <ChildContent>
        <div class="container-fluid px-0">
            <div class="form-group mb-3">
                <label for="declineReason" class="font-weight-semibold mb-2">Select a reason</label>
                <select id="declineReason" class="form-control" @bind="selectedReason">
                    @foreach (var item in ddReason)
                    {
                        <option value="@item.Id">@item.Value</option>
                    }
                </select>
            </div>

            
            <div class="form-group mb-0">
                <label for="otherReason" class="font-weight-semibold mb-2">Additional details</label>
                <textarea id="otherReason"
                    class="form-control"
                    rows="4"
                    placeholder="Specify the reason here."
                    maxlength="200"
                    @bind="otherReason"></textarea>
            </div>
            
        </div>
    </ChildContent>
    <FooterTemplate>
        <button class="btn btn-primary btn-sm" 
            @onclick="() => ContinueDecline()">
            Continue
        </button>
    </FooterTemplate>
</Modal>

@code {
    [Parameter] public int jobOfferId { get; set; }
    [Parameter] public int candidateId { get; set; }

    Modal modalDecline = default!;
    int selectedReason = 1;
    string otherReason = string.Empty;
    IEnumerable<DropdownDto> ddReason = new List<DropdownDto>();
    int userId;

    protected override async Task OnParametersSetAsync()
    {
        ddReason = await DropDownListService.GetDeclineReasons();
        userId = await AccountService.GetJobOfferUserId();
    }

    private void HandleCancel()
    {
        Navigation.NavigateTo(JORoutes.TA.Accept);
    }

    private async Task HandleAccept()
    {
        if (!await AlertService.Confirm()) return;

        await TAService.AcceptJobOffer(jobOfferId, candidateId, userId);

        Navigation.NavigateTo($"{JORoutes.Transaction.JobOffer}/{jobOfferId}/{candidateId}");
    }

    private async Task HandleDecline()
    {
        modalDecline.Show();
    }

    private async Task ContinueDecline()
    {
        if (string.IsNullOrEmpty(otherReason))
        {
            await AlertService.Error("Please provide additional details.");
            return;
        }

        if (!await AlertService.Confirm()) return;
        
        await TAService.DeclineJobOffer(jobOfferId, selectedReason, otherReason, userId);

        Navigation.NavigateTo($"{JORoutes.Transaction.JobOffer}/{jobOfferId}/{candidateId}");
    }
}
