@inject IJobOfferService JobOfferService

<div class="card shadow mb-4 border-left-primary">
    <div class="card-header py-3 d-flex align-items-center">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-stream mr-2"></i> Activity Timeline</h6>
    </div>
    <div class="card-body" style="max-height: 500px; overflow-y: auto;">
        @foreach (var grp in groupedActivities)
        {
            <div class="time-label"><span class="badge badge-primary">@grp.Date.ToString("MMMM dd, yyyy")</span></div>
            <ul class="timeline">
                @foreach (var log in grp.Logs)
                {
                    <li class="timeline-item">
                        <span class="timeline-date">@log.CreatedAt.Value.ToString("hh:mm tt")</span>
                        <div class="timeline-card d-flex justify-content-between align-items-start">
                            <div>
                                <div class="timeline-header"></div>
                                <p>@log.ActionName</p>
                                <small class="text-muted">By: <span class="badge badge-info role-badge">@log.ActionBy</span></small>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@code {
    [Parameter] public int JobOfferId { get; set; }
    private IEnumerable<VwActivityLogs> activities = new List<VwActivityLogs>();
    private List<GroupedActivityLogs> groupedActivities = new();

    protected override async Task OnParametersSetAsync()
    {
        activities = await JobOfferService.GetActivityLogs(JobOfferId);

        groupedActivities = activities
        .GroupBy(a => a.CreatedAt.Value.Date)
        .Select(g => new GroupedActivityLogs
        {
            Date = g.Key,
            Logs = g.ToList()
        })
        .ToList();
    }
}
