@inject ITransactionService TransactionService

<div class="card shadow mb-4 border-left-primary">
    <div class="card-header py-3 d-flex justify-content-between align-items-center bg-white">
        <h6 class="m-0 font-weight-bold text-primary">
            <i class="fa-solid fa-boxes-stacked"></i> Packages
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead class="thead-light">
                    <tr>
                        <th>Priority</th>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @if (joPackages.Any())
                    {
                        @foreach (var item in joPackages)
                        {
                            <tr>
                                <td>@item.Priority</td>
                                <td>@item.PackageName</td>
                                <td>@item.PackageAmount</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center text-muted">
                                <i class="fas fa-info-circle mr-1"></i> No records found.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>

@code {
    [Parameter] public int TransactionId { get; set; }

    private IEnumerable<JobOfferPackages> joPackages = new List<JobOfferPackages>();

    protected override async Task OnParametersSetAsync()
    {
        await GetPackages();
    }

    private async Task GetPackages()
    {
        joPackages = await TransactionService.GetPackages(TransactionId);
    }
}
