<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseHROD" aria-expanded="false"
       aria-controls="collapseConfig">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>HROD</span>
    </a>

    <div id="collapseHROD" class="collapse" aria-labelledby="headingPages" aria-expanded="false"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="@JORoutes.HROD.Dashboard">Dashboard</a>
            <a class="collapse-item" href="@JORoutes.HROD.Approvals">Approvals</a>
        </div>
    </div>
</li>

@code {

}
