@inherits LayoutComponentBase

<PageTitle>Job Offer</PageTitle>

<div id="wrapper">
    <SideNavMenu />
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <TopNavMenu />
            <div class="container-fluid">
                @Body
            </div>
        </div>
    </div>
</div>
