<div class="card">
    <div class="card-header">Roles</div>
    <div class="card-body">
        @foreach (var item in Items.Select((value, index) => new { value, index }))
        {
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       id="@("role_" + item.index)"
                       checked="@SelectedItems.Contains(item.value)"
                       @onchange="(e) => OnCheckboxChanged(item.value, (bool)e.Value!)" />
                <label class="form-check-label" for="@("role_" + item.index)">
                    @item.value
                </label>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public List<string> Items { get; set; } = new();
    [Parameter] public List<string> SelectedItems { get; set; } = new();
    [Parameter] public EventCallback<List<string>> SelectedItemsChanged { get; set; }

    private async Task OnCheckboxChanged(string value, bool isChecked)
    {
        if (isChecked)
        {
            if (!SelectedItems.Contains(value))
                SelectedItems.Add(value);
        }
        else
        {
            SelectedItems.Remove(value);
        }

        await SelectedItemsChanged.InvokeAsync(SelectedItems);
    }
}
