<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    
    <link rel="stylesheet" href="/sbadmin2/css/sb-admin-2.min.css" />
    <link rel="stylesheet" href="/sbadmin2/css/custom.css" />

    <link href="/lib/quill/dist/quill.snow.css" rel="stylesheet" />
    <link href="/lib/quill/dist/quill.bubble.css" rel="stylesheet" />

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />

</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <script src="/sbadmin2/vendor/jquery/jquery.min.js"></script>
    <script src="/sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/sbadmin2/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/sbadmin2/js/sb-admin-2.min.js"></script>
    <script src="/sbadmin2/js/custom.js"></script>
    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>

    <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"></script>
    <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"></script>
    <script src="/lib/quill/dist/quill.js"></script>

    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
