@inject NavigationManager Navigation
@inject IAlertService AlertService
@inject IJobOfferService JobOfferService

@attribute [Authorize(Roles = JOUSerRole.TA)]
@attribute [Route(JORoutes.TA.Accept + "/{jobOfferId:int}/{candidateId:int}")]

<CandidateInfo CandidateId="@candidateId" />

<JobOfferView JobOfferId="@jobOfferId" />

<div class="d-flex justify-content-end border-top pt-3 mb-4">
    <button class="btn btn-outline-secondary btn-sm mr-2"
            @onclick="HandleCancel">
        Cancel
    </button>

    <button class="btn btn-primary btn-sm shadow-sm mr-2"
            @onclick="() => HandleAccept()">
        <i class="fas fa-save fa-sm text-white-50 mr-1"></i>
        Accept
    </button>

    <button class="btn btn-danger btn-sm shadow-sm"
            @onclick="() => HandleDecline()">
        <i class="fas fa-save fa-sm text-white-50 mr-1"></i>
        Decline
    </button>
</div>

@code {
    [Parameter] public int jobOfferId { get; set; }
    [Parameter] public int candidateId { get; set; }

    private void HandleCancel()
    {
        Navigation.NavigateTo(JORoutes.TA.Accept);
    }

    private async Task HandleAccept()
    {
        if (!await AlertService.Confirm())
            return;

        await JobOfferService.SetJobOfferStatus(jobOfferId, JOMainStatus.Accepted);

        Navigation.NavigateTo($"{JORoutes.Transaction.JobOffer}/{jobOfferId}/{candidateId}");
    }

    private async Task HandleDecline()
    {
        if (!await AlertService.Confirm())
            return;

        await JobOfferService.SetJobOfferStatus(jobOfferId, JOMainStatus.Declined);

        Navigation.NavigateTo($"{JORoutes.Transaction.JobOffer}/{jobOfferId}/{candidateId}");
    }
}
