@inject IAlertService AlertService
@inject ITransactionService TransactionService
@inject NavigationManager Navigation

@attribute [Authorize(Roles = JOUSerRole.TA)]
@attribute [Route(JORoutes.TA.Analysis + "/{transactionId:int}")]
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Job Offer Analysis
    </h1>
</div>

<TagHRODCandidate TransactionId="@transactionId" />

<Package TransactionId="@transactionId" />

<CandidateFiles TransactionId="@transactionId" ReadOnly="@false" />

<div class="d-flex justify-content-end mb-4">
    <button class="btn btn-sm btn-primary mr-1"
            @onclick="() => SubmitForApproval()">
        <i class="fas fa-share-square"></i> Submit For Approval
    </button>
</div>



@code {
    [Parameter] public int transactionId { get; set; }

    private async Task SubmitForApproval()
    {
        if (!await AlertService.Confirm())
            return;

        await TransactionService.SetTransactionStatus(transactionId, JOMainStatus.HRODApproval);
        Navigation.NavigateTo($"{JORoutes.Transaction.Details}/{transactionId}");
    }
}
